#login-card{
    position: center;
    top: 20vh;
    margin: auto;
    width: fit-content;
    text-align: center;
    border-radius: 7.5%;
    border: 0.75em solid #303D4F;
    background-color: #1D1F25;
}
/* #303D4F */
#login-title{
    font-family: 'Jim Nightshade', sans-serif;
}

.login-headline{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: inline-block;
    padding: 0;
    margin: 0;
}