<mat-card id="login-card">
    <mat-card-header>
        <mat-card-title id="login-title">
            <h2>Enter the West Marches Guild Hall</h2>
            <h4 class="login-headline">LOGIN</h4>
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <hr />
    <mat-card-content>
        <form #loginForm="ngForm">
            <mat-form-field>
                <input matInput type="text" placeholder="Enter your username" required/>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="email" placeholder="Your email" required/>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="password" placeholder="And your password..." required/>
            </mat-form-field>
            <br>
          <button mat-stroked-button color="accent" type="submit">
            Login
          </button>
        </form> 
    </mat-card-content>
</mat-card>