/* font-family: 'Almendra Display', cursive;
font-family: 'Jim Nightshade', cursive;
font-family: 'Mrs Saint Delafield', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */
#title-bar{
    height: 15vh;
    width: fit-content;
    margin: auto;
    position: relative;
    top: 3em;
    border: 0.75em solid #303D4F;
    border-radius: 20%;
}

#title{
    font-family: 'Almendra Display', serif;
    text-align: center;
    font-size: 7.5vh;
    max-height: 120px;
}