/* font-family: 'Almendra Display', cursive;
font-family: 'Jim Nightshade', cursive;
font-family: 'Mrs Saint Delafield', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */
mat-toolbar{
    height: 8.25em;
    width: fit-content;
    margin: auto;
    margin-top: 1.67em;
    border-radius: 20%;
}

#title{
    font-family: 'Almendra Display', serif;
    text-align: center;
    font-size: 7.5vh;
    max-height: 120px;
}