<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let title"> {{title[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let contract" [attr.colspan]="columnsToDisplay.length">
      <div class="contract-detail"
           [@detailExpand]="contract == contractDetails? 'expanded' : 'collapsed'">
        <div class="contract-diagram">
          <div class="contract-title"> {{contract.title}} </div>
          <div class="contract-maxParty"> {{contract.maxParty}} </div>
          <div class="contract-DM"> {{contract.DM}} </div>
          <div class="contract-minParty"> {{contract.minParty}} </div>
        </div>
        <div class="contract-description">
          {{contract.description}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let contract; columns: columnsToDisplay;"
      class="contract-row"
      [class.contract-expanded-row]="contractDetails === contract"
      (click)="constractDetails = contractDetails === contract ? null : contract">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="contract-detail-row"></tr>
</table>
